<a name="message-{{messageName}}"></a>
<div class="message">
  <h3 class="message__header">
    {{messageName}}
    {{#if message.deprecated}}
    <span class="operation-badge operation-badge--deprecated message__header__operation-badge">Deprecated</span>
    {{/if}}
  </h3>
  {{{message.summaryAsHTML}}}
  {{{message.descriptionAsHTML}}}

  <h4>Headers</h4>

  {{> schema schema=message.headers schemaName='Message Headers' hideTitle=true}}

  <h4>Payload</h4>

  {{> schema schema=message.payload schemaName='Message Payload' hideTitle=true}}

{{#if message.example}}
<h4>Example</h4>

<pre class="hljs"><code class="json">{{~message.formattedExample~}}</code></pre>
{{/if}}

{{#if operation.tags}}
<h4>Tags</h4>

{{> tags tags=operation.tags}}
{{/if}}
</div>
