<div class="operation {{cssClasses}}">
{{{operation.summaryAsHTML}}}
{{{operation.descriptionAsHTML}}}

{{#if operation.headers}}
<h4>Headers</h4>

{{> schema schema=operation.headers schemaName='Message Headers' hideTitle=true}}
{{/if}}

<h4>Payload</h4>

{{> schema schema=operation.payload schemaName='Message Payload' hideTitle=true}}

{{#if operation.example}}
<h4>Example</h4>

<pre class="hljs"><code class="json">{{~operation.formattedExample~}}</code></pre>
{{/if}}

{{#if operation.tags}}
<h4>Tags</h4>

{{> tags tags=operation.tags}}
{{/if}}
</div>
