{{{operation.summaryAsHTML}}}
{{{operation.descriptionAsHTML}}}

{{#if operation.headers}}
<h3>Headers</h3>

<table class="table">
  <thead class="table__head">
    <tr class="table__head__row">
      <th class="table__head__cell">Name</th>
      <th class="table__head__cell">Type</th>
      <th class="table__head__cell">Description</th>
    </tr>
  </thead>
  <tbody class="table__body">
    {{#each operation.headers.properties}}
    {{> property prop=. propName=@key prefix=''}}
    {{/each}}
  </tbody>
</table>
{{/if}}

<h3>Payload</h3>

<table class="table">
  <thead class="table__head">
    <tr class="table__head__row">
      <th class="table__head__cell">Name</th>
      <th class="table__head__cell">Type</th>
      <th class="table__head__cell">Description</th>
    </tr>
  </thead>
  <tbody class="table__body">
    {{#each operation.payload.properties}}
    {{> property prop=. propName=@key prefix=''}}
    {{/each}}
  </tbody>
</table>

{{#if operation.example}}
<h3>Example</h3>

<pre class="hljs"><code class="json">{{~operation.formattedExample~}}</code></pre>
{{/if}}

<h3>Tags</h3>

{{> tags tags=operation.tags}}
